@model List<LibraryItem>

<h1>Library Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>EAN / ISBN</th>
            <th>Title</th>
            <th>Creators</th>
            <th>Description</th>
            <th>Image</th> <!-- entête de colonne pour l'image. -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ean_isbn13</td>
                <td>@item.Title</td>
                <td>@item.Creators</td>
                <td>@item.Description</td>
                <td><img src="@String.Format("https://covers.openlibrary.org/b/isbn/{0}-M.jpg", item.ean_isbn13)" alt="Book cover for @item.Title" /></td>
                <!-- L'image pour l'ISBN est insérée ici en utilisant String.Format pour l'ISBN. -->
            </tr>
        }
    </tbody>
</table>
